[Unit]
After=network.target
 
[Service]
Type=simple
User=webcats
WorkingDirectory=/home/webcats/webcats/frontend
ExecStart=serve -s build
Restart=on-failure
 
[Install]
WantedBy=multi-user.target